@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
  /* ************* Global style ************* */
  /* ========== col left and right style ========== */
  .colWidth {
    width: 100%;
  }
  .colLeft {
    padding-right: 30px;
  }
  .colRight {
    padding-left: 30px;
  }
  /* ========== Container for table style ========== */
  .container-md {
    max-width: 100%;

    &__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  /* ========== Table lg style ========== */
  .table-lg {
    &-head {
      height: 45px;
      font-size: 13px;
    }

    &-row {
      height: 35px;
      font-size: 13px;
    }

    &-th {
      &--15,
      &--20,
      &--30 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  /* ========== Table md style ========== */
  .table-md {
    &-head {
      height: 35px;
      font-size: 13px;
    }

    &-row {
      height: 35px;
      font-size: 13px;
    }

    &-th {
      &--33 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  /* ========== Pagination ========== */
  .pagination {
    &__link {
      width: 35px;
      height: 35px;
      font-size: 13px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 767px) {
  /* ************* Global style ************* */
  /* ========== col left and right style ========== */
  .colLeft{
    padding-right: 15px;
  }
  .colRight{
    padding-left: 15px;
    border-left: none;
    margin-top: 50px;
  }
  /* ========== Table lg and sm style ========== */
  .table-lg{
    display: none;
  }
  .table-sm{
    display: block;
  }
  /* ========== Tabs style ========== */
  .main__child {
    .nav-link {
      font-size: 16px;
      padding: 8px 10px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 576px) {
  /* ************* Global style ************* */
  /* ========== Inside pages header style ========== */
  .top-header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* ========== Dropdown style ========== */
  .drop{
    &__box{
      height: 40px;
      padding: 0 15px;
    }
    &__item{
      font-size: 13px;
      padding: 10px 15px;
    }
    &__value{
      font-size: 13px;
    }
  }
  /* ========== Label style ========== */
  .label {
    font-size: 13px;
    margin-bottom: 5px;
  }
  /* ========== Nesting form row ========== */
  .form__row,
  .withdraw .form__row,
  .deposit .form__row{
    margin-bottom: 15px;
  }
  /* ========== Input style ========== */
  .input{
    height: 40px;
    font-size: 13px;
    padding: 0 15px;
    &__pad{
      padding-right: 60px;
    }
  }
  /* ========== Container for table  ========== */
  .container-md{
    &__title {
      font-size: 16px;
    }
  }
  /* ========== Table sm style ========== */
  .table-sm{
    &__row{
      font-size: 13px;
    }
  }
  /* ========== Tabs style ========== */
  .main__child{
    .nav-link{
      font-size: 13px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 380px) {
  /* ************* Global style ************* */
  /* ========== Pagination ========== */
  .pagination{
    &__link{
      width: 28px;
      height: 28px;
    }
  }
  /* ========== Tabs style ========== */
  .main__child{
    .nav-item{
      margin-left: 1px;
      margin-right: 1px;
    }
    .nav-link{
      font-size: 13px;
      padding: 8px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 330px) {
  /* ************* Global style ************* */
  /* ========== Tabs style ========== */
  .main__child{
    .nav-link{
      font-size: 12px;
      padding: 6px;
    }
  }
  /* ************* End of global style ************* */
}
