@media screen and (max-width: 1200px) {
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      &__col25 {
        padding-left: 10px;
        padding-right: 10px;
      }
      &__box {
        margin-left: 15px;
      }
      &__title {
        font-size: 16px;
        margin-bottom: 10px;
      }
      &__value {
        font-size: 16px;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    // addresses account
    &__account{
      &__row{
        padding: 20px 15px;
      }
      &__title{
        margin-bottom: 10px;
      }
      &__info{
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  /* ========== Buy/Sell ========== */
  .buySell{
    // order book
    &__orderBook{
      &__row{
        font-size: 13px;
      }
    }
    // limit and market
    &__limitMarket{
      &__col{
        margin: 0;
      }
    }
    // charters
    &__drop{
      margin-bottom: 30px;
    }
    &__statistic{
      padding-right: 0;
      margin-bottom: 60px;
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // activity
    &__activity{
      &__date,
      &__text{
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__info,
      &__valueWithdraw,
      &__valueDeposit{
        font-size: 13px;
      }
      &__row {
        padding: 21px 10px;
      }
    }
    // announcements
    &__announcement{
      &__row{
        padding: 10px;
      }
      &__title{
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__text{
        font-size: 13px;
      }
      &__date{
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    // addresses account
    &__account{
      &__row{
        padding: 15px;
        flex-direction: column;
      }
      &__col3{
        width: 100%;
      }
      &__col15,
      &__col24,
      &__col25,
      &__col30,
      &__col50{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__title{
        flex-shrink: 0;
      }
      &__info{
        flex-grow: 1;
        min-width: 1px;
        text-align: right;
        margin-left: 15px;
      }
    }
  }
  /* ========== settings tab ========== */
  .settings{
    .colWidth{
      width: 100%;
    }
    .padding--left {
      padding-left: 30px;
    }
    .padding--right{
      padding-right: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  /* ========== Deposit ========== */
  .deposit {
    &__borderTop {
      border-top: 1px solid #dedede;
      padding-top: 50px;
    }
  }
  /* ========== Buy/Sell ========== */
  .buySell{
    // order book
    &__orderBook{
      &__col{
        margin-bottom: 30px;
      }
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      &__box {
        margin-left: 10px;
      }
      &__title {
        font-size: 13px;
        margin-bottom: 5px;
      }
      &__text{
        font-size: 12px;
      }
      &__value{
        font-size: 13px;
      }
      &__col25{
        img{
          width: 40px;
        }
      }
    }
    // activity
    &__activity{
      &__boxCol{
        & ~ .dashboard__activity__boxCol{
          margin-top: 30px;
        }
      }
      &__rowTitle {
        padding: 15px 10px;
      }
      &__row{
        padding: 10px;
      }
      &__viewAll{
        font-size: 13px;
      }
      &__date,
      &__text{
        font-size: 14px;
      }
    }
    // announcements
    &__announcement{
      &__title{
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    &__add{
      &__list {
        min-width: 300px;
        top: 54px;
        padding: 20px 10px;
      }
    }
  }
  /* ========== settings tab ========== */
  .settings{
    .padding--left {
      padding-left: 0;
    }
    .padding--right{
      padding-right: 0;
    }
    .delete-padding--left{
      padding-left: 15px;
      border-left: none;
    }
    .delete-padding--right{
      padding-right: 15px;
    }
    &__doubleBorder {
      border-top: 1px solid #dedede;
      padding-top: 40px;
      margin-top: 40px;
    }
  }
}
@media screen and (max-width: 576px) {
  /* ========== Withdraw ========== */
  .withdraw{
    &__text,
    &__value{
      font-size: 13px;
    }
    &__result {
      margin-bottom: 25px;
      &__row {
        margin-bottom: 10px;
      }
    }
  }
  /* ========== Deposit ========== */
  .deposit{
    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__text {
      & ~ .deposit__text {
        margin-top: 10px;
      }
    }
    &__info{
      margin-top: 15px;
      &__row{
        margin-bottom: 5px;
      }
    }
    &__barCode{
      img {
        width: 70%;
        padding: 15px;
      }
    }
  }
  /* ========== Buy/Sell ========== */
  .buySell{
    // limit and market
    &__limitMarket{
      &__col{
        padding: 15px;
      }
      &__row{
        margin-bottom: 5px;
      }
      &__mb{
        margin-bottom: 20px;
      }
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      display: none;
      &-sm{
        display: block;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    &__title{
      font-size: 16px;
      margin-right: 10px;
    }
    // addresses account
    &__account{
      &__row{
        padding: 10px;
      }
      &__title{
        font-size: 13px;
        margin-bottom: 10px;
      }
      &__info{
        font-size: 13px;
      }
    }
    // crypto addresses
    &__crypto{
      margin-top: 40px;
    }
  }
  /* ========== History tab ========== */
  .history{
    &__drop{
      margin-top: 20px;
    }
  }
  /* ========== settings tab ========== */
  .settings{
    &__title {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__row {
      margin-bottom: 10px;
    }
    &__doubleBorder,
    &__border {
      margin-top: 25px;
      padding-top: 25px;
    }
    &__form {
      margin-top: 15px;
    }
    &__btnRow {
      margin-top: 25px;
    }
    &__text{
      & ~ .settings__text {
        margin-top: 10px;
      }
    }
    &__generateText {
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 380px) {
  /* ========== addresses tab ========== */
  .addresses{
    &__add{
      &__list {
        min-width: 280px;
        top: 50px;
      }
    }
  }
}
@media screen and (max-width: 330px) {

}
